.row
  .span16.shadow
    .row
      .span15.offset1
        %h2 更新密码
        = form_for @user,:url=>user_update_email_or_password_path(@user) do |f|
          = f.error_messages  
          .row
            .span2= f.label "电子邮件"
            .span4= f.text_field :email, value: @user.email, disabled: true
          .row
            .span2= f.label "旧密码"
            .span4= f.password_field :old_password 
          .row
            .span2= f.label "新密码"
            .span4= f.password_field :password 
          .row
            .span2= f.label "重输新密码"
            .span4= f.password_field :password_confirmation
          .row
            .span4.offset3= f.submit "保存修改",:class=>"btn primary"
