.row
  .span16.shadow
    .row
      .span15.offset1

        -if params[:action] == 'new'
          %h2 #{t("Create")}#{t("org_profile")}
        -else
          %h2 #{t("Update")}#{t("org_profile")}


        = semantic_nested_form_for @user, url: org_user_path(@user.slug_or_id) do |f|
          = hidden_field_tag :current_step, 'profile'
          = hidden_field_tag :is_new, 'true' if @is_new
          -@user.build_org_profile if @user.org_profile.nil?
          = f.semantic_fields_for :org_profile  do |p| 
            = p.inputs do
              .row
                .span3= p.input :contact_person
                .span4= p.input :phone_number
                = render 'shared/city_picker',:f=>p, :city_id=>@user.org_profile.city_id
              .row
                .span11= p.input :address, hint: '请务必填写正确的电话号码以便我们联系您。准确完整的地址有助于画作的顺利到达。'
              .row
                .span16=link_to_function "如果您是画廊或其他机构,请点击此处提供机构信息","$('.company_info').toggle(300);"
              .row.company_info{style: "display:none;"}
                .span16
                  .row
                    .span7= p.input :company_name
                  .row
                    .span7= p.input :website

          .row.span16.actions
            .span4= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"
