.span3.user_panel


  .avatar.medium=image_tag @user.avatar.url(:medium),:width=>150
  %h3
    =@user.profile.name current_user
    .edit=link_to raw("<i class='icon-edit '></i>"),ind_user_edit_path(@user,'profile') if @user==current_user
  %p
    %b Gender:
    #{@user.profile.gender}
  %p
    %b Age:
    #{@user.profile.age}
    ="(born in #{@user.profile.birthday.year})"
  %p
    %b City:
    #{@user.profile.city}
  %p 
    %b State:
    #{@user.profile.province.name}
  -if current_user.admin?
    邀请人:
    =link_to @user.invited_by.name, @user.invited_by if @user.invited_by
  .sidebar
    = bookmark_code @user unless @user==current_user
    =render 'pages/message_box'
    =link_to "Email","",:'data-controls-modal'=>"modal-from-dom",:'data-backdrop'=>"true", :class=>'btn' unless @user==current_user
