.row
  .span2
    .artwork_image=link_to image_tag(artwork.photos.first.photo(:thumb)), artwork
  .span14
    =semantic_nested_form_for artwork, remote: true  do |a|
      .list_item_box
        .row
          .span4= a.input :title, input_html: {disabled: true}
          .span1= a.input :year, placeholder: "YYYY", input_html: {disabled: true}

          .span2= a.input :type, as: :select, collection: Artwork.types_for_select , include_blank: false, input_html: {disabled: true}

          .span2= a.input :base, placeholder: "eg. paper, canvas", input_html: {disabled: true}

          .span2= a.input :is_framed, label: "Frame Included", as: :select , include_blank: false, input_html: {disabled: true}

        .row
          .span2
            =a.label "Price"
            %span.add-on US$
            .price.with_addon= a.input :price, label: false, input_html: {disabled: true}

            %span.add-on .00
          -if current_user.admin?
            .span2
              =a.label "Sale Price #{a.object.generate_sale_price}"
              %span.add-on RMB
              .price.with_addon= a.input :sale_price, label: false, input_html: {disabled: true}


          .span2
            = a.label "Dimensions"
            .dimension.with_addon= a.input :height, label: false, placeholder: "H", input_html: {disabled: true}

            %span.add-on " x

            .dimension.with_addon= a.input :width, label: false, placeholder: "W", input_html: {disabled: true}

            %span.add-on "

          .span2
            = a.label "Weight"
            .price.with_addon= a.input :weight, label: false, input_html: {disabled: true}

            %span.add-on lb.

          .span2= a.input :for_sale, label: "For Sale", as: :select , include_blank: false, input_html: {disabled: true}


          -# .span3
          -#   = a.semantic_fields_for :photos do |p|
          -#     =p.input :photo, required: true, input_html: {size: 20}
          .span3
            =a.label "Sold Date"
            %b=l a.object.orders.where(:status_cd.gte => 2).first.created_at, format: :long

