%h2 Edit Artwork
.row
  .span15
    =semantic_nested_form_for @artwork do |a|
      .list_item_box
        .row
          .span4= a.input :title
          .span1= a.input :year, placeholder: "YYYY"
          .span2= a.input :type, as: :select, collection: Artwork::PAINTING_TYPES
          .span3= a.input :base, placeholder: "eg. paper, canvas, wood"
          .span2= a.input :is_framed, label: "Frame Included", as: :select
        .row
          .span2
            =a.label "Price"
            %span.add-on US$
            .price.with_addon= a.input :price, label: false
            %span.add-on .00
          -if current_user.admin?
            .span2
              =a.label "Sale Price #{@artwork.generate_sale_price}"
              %span.add-on RMB
              .price.with_addon= a.input :sale_price, label: false

          .span2
            = a.label "Dimensions"
            .dimension.with_addon= a.input :height, label: false, placeholder: "H"
            %span.add-on " x

            .dimension.with_addon= a.input :width, label: false, placeholder: "W"
            %span.add-on "

          .span2
            = a.label "Weight"
            .price.with_addon= a.input :weight, label: false
            %span.add-on lb.


          .span4
            = a.semantic_fields_for :photos do |p|
              =p.input :photo, required: true
        -# .row
        -#   .span14= a.input :description
      .row
        .span2=a.submit "Upload artwork", class: "btn primary"

