.row
  .span16.shadow
    .row
      .span15.offset1
        %h2 Upload artwork photos
        =semantic_nested_form_for @user, url: artworks_path, method: :post do |f|
          =f.semantic_fields_for :artworks do |a|
            .list_item_box.with_link
              .row
                .span4= a.input :title
                .span1= a.input :year, placeholder: "YYYY"
                .span2= a.input :type, as: :select, collection: Artwork::PAINTING_TYPES, include_blank: false
                .span2= a.input :theme, as: :select, include_blank: false


                -a.object.photos.build if a.object.photos.empty?
                .span4
                  = a.semantic_fields_for :photos do |p|
                    =p.input :photo, required: true
              .row.link
                .span7=a.link_to_remove "Remove this artwork"
          .row.add_link
            .span16=f.link_to_add "Add artwork", :artworks
          .row
            .span2=f.submit "Upload photos", class: "btn primary"

