.row
  .span12
    .image_block
      =image_tag(@artwork.photos.first.photo.url(:large), width: 670)
    .comments=render 'shared/disqus'
  .span4
    .quote_box.shadow.artist_info_box
      =image_tag(@artwork.ind_user.avatar.url(:medium), width: 70, height: 70)
      .artist_info
        %p=link_to @artwork.ind_user.name, @artwork.ind_user
        -if I18n.locale == :ch
          %p=link_to "共 #{@artwork.ind_user.artworks.ready.count} 副作品", @artwork.ind_user
        -else
          %p=link_to "#{@artwork.ind_user.artworks.ready.count} Artworks", @artwork.ind_user
      .share=render 'shared/share', artwork: @artwork if I18n.locale == :ch
    =link_to "Edit this artwork", edit_artwork_path(@artwork, anchor: "edit_artwork_#{@artwork.id}") if can_edit?(@artwork)
    -if @artwork.for_display
      .prev_next
        =link_to "< Previous", artwork_path(@artwork.previous)
        =link_to "Next >", artwork_path(@artwork.next)
    %h2=@artwork.title.presence || "Untitled"
    %table.table.table-striped
      %tr
        %td=t('artwork.likes')
        %td
          .artworks_show_like=render 'artworks/artwork_like', artwork: @artwork
      %tr
        %td=t('artwork.theme')
        %td=@artwork.theme.try(:name)
      %tr
        %td=t('artwork.type')
        %td=@artwork.type
      %tr
        %td=t('artwork.year')
        %td=@artwork.year
      %tr
        %td=t('artwork.place')
        %td=@artwork.ind_user.profile.province.country.name
      %tr
        %td=t('artwork.visits')
        %td=@artwork.visit_counter
    -if buyer? || (current_user.nil? && I18n.locale == :ch)
      -if @original_sellable
        .quote_box.shadow
          %p
            原画
            ="Update!" if @original_sellable.price_out_of_date && admin?
          .price=@original_sellable.price_in_yuan
          %p 售价包含原作证书和运费
          #real_order
            -if current_user.nil?
              %p=raw "订购请先#{link_to '注册', new_user_session_path}或登录。"
            -else
              =form_for Order.new, remote: true do |f|
                =f.hidden_field :sellable_id, value: @original_sellable.id.to_s
                #real_order=f.submit "询问", class: "btn primary"
          %p#real_message
          %table.table.table-striped
            %tr
              %td=t('artwork.number')
              %td
                %b="##{@original_sellable.number}"
            %tr
              %td=t('artwork.dimensions')
              %td="#{@original_sellable.height}\" x #{@original_sellable.width}\"" + " (#{@original_sellable.height.to_i*2.54.to_i}cm x #{@original_sellable.width.to_i*2.54.to_i}cm)" if @original_sellable.height && @original_sellable.weight
            %tr
              %td=t('artwork.base')
              %td=@original_sellable.base
            %tr
              %td=t('artwork.weight')
              %td="#{"%0.2f" % @original_sellable.weight.to_f} lb" + " (#{"%0.2f" % (@original_sellable.weight.to_f*0.454)} kg)"
            %tr
              %td=t('artwork.is_framed')
              %td=@original_sellable.is_framed? ? t('artwork.framed') : t('artwork.unframed')
      -if @copy_sellable
        .quote_box
          %p
            ="授权限量版  (现仅存 #{@copy_sellable.inventory} 副)"
            ="Update!" if @copy_sellable.price_out_of_date && admin?
          .price=@copy_sellable.price_in_yuan
          %p 售价包含授权证书和运费
          #copy_order
            -if current_user.nil?
              %p= raw "订购请先#{link_to '注册', new_user_session_path}或登录。"
            -else
              =form_for Order.new, remote: true do |f|
                =f.hidden_field :sellable_id, value: @copy_sellable.id.to_s
                =f.hidden_field :is_for_real, value: false
                #real_order=f.submit "询问", class: "btn primary"
          %p#copy_message

          %table.table.table-striped
            %tr
              %td=t('artwork.number')
              %td
                %b="##{@copy_sellable.number}"
            %tr
              %td=t('artwork.dimensions')
              %td="#{@copy_sellable.height}\" x #{@copy_sellable.width}\"" + " (#{@copy_sellable.height.to_i*2.54.to_i}cm x #{@copy_sellable.width.to_i*2.54.to_i}cm)" if @copy_sellable.height && @copy_sellable.weight
            %tr
              %td=t('artwork.base')
              %td=@copy_sellable.base
            %tr
              %td=t('artwork.weight')
              %td="#{"%0.2f" % @copy_sellable.weight.to_f} lb" + " (#{"%0.2f" % (@copy_sellable.weight.to_f*0.454)} kg)"
            %tr
              %td=t('artwork.is_framed')
              %td=@copy_sellable.is_framed? ? t('artwork.framed') : t('artwork.unframed')

:javascript
  $(document).ready(function(){
    $('.prev_next a').click(function(){
    $('.image_block').fadeOut(200);
    });
    $('.image_block').hide().fadeIn(200);
  });
