.row
  .span16.shadow
    .row
      .span8.offset1
        %h2=t('forgot_password')
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          %div
            = f.label :email
            %br/
            = f.email_field :email
          %div= f.submit t('forgot_password'),:class=>'btn'
