/=render 'ind_users/navigation' unless params[:controller]=="ind_users" and params[:action]=="new"
.row
  .span16.shadow
    .row
      .span15.offset1
        %h2 Change Password
        %br
        = form_for @user,:url=>user_update_email_or_password_path(@user) do |f|
          = f.error_messages  
          .row
            .span2= f.label t("email")
            .span4= f.text_field :email, value: @user.email, disabled: true
          .row
            .span2= f.label t("old_password")
            .span4= f.password_field :old_password 
          .row
            .span2= f.label t("new_password")
            .span4= f.password_field :password 
          .row
            .span2= f.label t("new_password_again")
            .span4= f.password_field :password_confirmation
          .row
            .span4.offset3= f.submit t("save"),:class=>"btn primary"
