.row
  .span16.shadow
    .row
      .span15.offset1
        -if params[:action] == 'new'
          %h2 Create Artist Profile
        -else
          %h2 Update Artist Profile


        = semantic_nested_form_for @user do |f|
          = f.error_messages  
          = hidden_field_tag :current_step, 'profile' 
          = hidden_field_tag :is_new, 'false' if @is_new

          = f.semantic_fields_for :profile  do |p| 
            = p.inputs do
              .row
                .span3= p.input :firstname, label: "First Name"
                .span3= p.input :lastname, label: "Last Name"
                .span2
                  =p.label "Birth year*"
                  .yearonly= p.input :birthday, label: false, :as=>:date,:start_year=>1960, :end_year=>Date.today.year-18
                .span2= p.input :gender, :as=>:select,:collection => Profile.genders_for_select,:prompt => t("Select one") 
              .row
                -# .span3= p.input :residence_country, label: "Residence", :as=>:select, :collection => Country.all, :prompt => t("Select one")
                .span5= p.input :address
                .span2= p.input :city
                .span3= p.input :province_id, required: true, label: "State", :as=>:select, :collection => Province.all, :prompt => t("Select one")

              .row
                .span5=image_tag @user.avatar(:small) unless params[:action]=="new"
              .row
                .span3
                  =p.input :phone, placeholder: "617-888-8888"
                .span7
                  =p.input :website, placeholder: "http://www.yourname.com"
              .row
                .span5
                  =f.input :avatar, label: "Face Photo"
                -# .span2
                -#   = f.label "Remove Avatar"
                -#   = check_box_tag :remove_avatar, 1, false
              .row
                .span10= p.input :intro, label: "Introduction", :as=>:text,:input_html => { :class => 'autogrow', :rows => 5, :cols => 20, :maxlength => 500  },:hint=>"Describe your specialty in the themes and forms of your artwork. Mention any local, national and internationl recognition, awards or major art shows. Mention any notable galleries you have worked with. We will translate your introduction to Chinese for free."
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"
