.row
  .span16.shadow
    .row
      .span15.offset1
        -if params[:action] == 'new'
          %h2 Create Artist Profile
        -else
          %h2 Update Artist Profile


        = semantic_nested_form_for @user do |f|
          = hidden_field_tag :current_step, 'profile' 
          = hidden_field_tag :is_new, 'false' if @is_new

          = f.semantic_fields_for :profile  do |p| 
            = p.inputs do
              .row
                .span3= p.input :firstname, label: "First Name"
                .span3= p.input :lastname, label: "Last Name"
                .span2
                  =p.label "Birth year*"
                  =select_tag "ind_user[profile_attributes][birthday(1i)]", options_for_select((1900..1990).to_a, @user.profile.try(:birthday).try(:year))
                .span2= p.input :gender, :as=>:select,:collection => Profile.genders_for_select,:prompt => t("Select one") 
              .row
                -# .span3= p.input :residence_country, label: "Residence", :as=>:select, :collection => Country.all, :prompt => t("Select one")
                .span5= p.input :address
                .span2= p.input :city
                .span3= p.input :province_id, required: true, label: "State", :as=>:select, :collection => Country.where(name_en: "United States").first.provinces.all, :prompt => t("Select one")

              .row
                .span3
                  =p.input :phone, placeholder: "617-888-8888"
                .span7
                  =p.input :website, placeholder: "http://www.yourname.com"
              .row
                .span5
                  =f.input :avatar, label: "Face Photo"
              .row
                .span5=image_tag @user.avatar(:large)
              .row
                .span10= p.input :intro, label: "Introduction", :as=>:text,:input_html => { :class => 'autogrow', :rows => 5, :cols => 20, :maxlength => 500  },:hint=>"Describe your specialty in the themes and forms of your artwork. Mention any local, national and internationl recognition, awards or major art shows. Mention any notable galleries you have worked with. We will translate your introduction to Chinese for free."
              -if current_user.admin?
                .row
                  .span10= p.input :intro_ch, label: "Chinese introduction", :as=>:text,:input_html => { :class => 'autogrow', :rows => 5, :cols => 20, :maxlength => 500  }
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"
