.row
  .span16.shadow
    .row
      .span15.offset1
        %h2 Welcome aboard. Now you just need to pick a password.
        = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
          = devise_error_messages!
          = f.hidden_field :invitation_token
          .span5
            = f.label :password
            %br/
            = f.password_field :password
          .span5
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation
          .span5
            =f.hidden_field "_type", value: "IndUser"
          .span5
            = f.submit "Next step", :class=>'btn primary'
