%div.topbar
  .topbar-inner
    .container
      =link_to "ARTonSHIP",root_path, :class=>"brand"
      %ul.nav.main_nav
        %li{class: "#{is_active?("ind_users#")}"}=link_to t("Artists"),ind_users_path
        %li{class: "#{is_active?("artworks#index")}"}=link_to t("Artwork"), artworks_path
        %li{class: "#{is_active?("pages#company")}"}=link_to t("About"), "/company"
      -if user_signed_in?
        %ul{class: "nav", style: "float: right;"}
          -if current_user.is_a? IndUser
            %li{:class=>"#{is_active?("work#new")}"}=link_to "Upload work", new_artwork_path
            %li{:class=>"#{is_active?("invitation#new")}"}=link_to "Invite Artists", new_invitation_path(:user)
          %li{:class=>"dropdown #{is_active?("users#edit")}",:"data-dropdown"=>"dropdown"}
            =link_to_function current_user.name,'$(".dropdown-menu.setting").toggle()', :class=>"dropdown-toggle" 
            %ul.dropdown-menu.setting
              %li=link_to "View my profile",current_user
              %li=link_to "Change password",user_edit_path(current_user.id,'account') 
              %li=link_to "Edit my profile",user_edit_path(current_user.id,'profile')
              %li=link_to "Invite artists",new_invitation_path(:user)
              %li=link_to "Log out",destroy_user_session_path,:method => :delete if user_signed_in?
      -else
        = form_for User.new, :url => '/users/sign_in' do |f|
          %ul.nav.login
            %li= f.email_field :email,:placeholder=> t("email")
            %li
              = f.password_field :password,:placeholder=> t("password")
              = link_to t("forgot_password")+"?", new_password_path(:user),class: "forgot_password"
            %li= submit_tag t('Sign in'), :class=>"btn primary login"

:javascript
  $(".dropdown-toggle").hover(
    function () {
      $(this).addClass('active');
      $(this).next(".dropdown-menu").show();
    }, 
    function () {
      $(this).removeClass('active');
      $(this).next(".dropdown-menu").hide();
    }
  );
  $(".dropdown-menu").hover(
    function () {
      $(this).show();
    }, 
    function () {
      $(this).hide();
    }
  );
